Source: llx-cefpython-all
Section: python
Priority: standard
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Luis Antonio Garcia Gisbert <garcia_luigis@gva.es>, Angel Berlanas Vicente <aberlanas.gva@gmail.com>, Javier García Escribano <garcia_javesc@gva.es>, Raul Rodrigo Segura <raurodse.gva@gmail.com>, Alfons Lloret Sananton <alloret.gva@gmail.com>, Enrique Medina Gremaldos <lth.gva@gmail.com>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Ignacio Vidal Hurtado <vidal_joshur@gva.es>, Jose A. Murcia Andres <joamuran@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python-support, python-central, python
Standards-Version: 3.9.3

Package: llx-cefpython-all
Architecture: all
Depends: ${misc:Depends},llx-cefpython-i386 | llx-cefpython
Description:  CEF python for lliureX.
 dependency package for Cromium Embebed Browser python bindings.

